body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #ffb700;
    background-color: #000000;
    height: 100vh;
    text-align: center;
    padding-top: 4rem;
}

button{
    align-items: center;
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: .25rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    font-size: 23px;
    font-weight: 600;
    justify-content: center;
    line-height: 1.25;
    margin: 1.2rem;
    min-height: 3rem;
    padding: calc(.875rem - 1px) calc(1.5rem - 1px);
    position: relative;
    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    width: auto;
}

.hidden{
    display:none;
}

#resposta{
    border: solid 1px;
    border-color: #ffb700;
    max-width: 10rem;
    margin:auto;
    border-width: 2px;
}

pre code{
    font-size: 25px;
}